/* 
  About: all of the lanes 
  Note: flex-wrap lets the lanes flow to the second row (and beyond)
*/
.Lane-List {
  /* display: flex;
  flex-wrap: wrap; */
  /*  */
  /* margin: 10px; */
  font-size: 18px;
}

/* Each lane: for a person */
.Lane {
  /* width: 20%; */
  margin: 15px;
  padding: 5px;
  /*  */
  border-style: solid;
  border-radius: 5px;
  border-color: darkgray;
}

/* Person's name */
.Lane-Name {
  text-align: center;
  background-color: darkslategrey;
  color: white;
}

.New-Task-Input {
  height: 25px;
  margin: 5px;
  width: 50%;
}

.New-Task-Button {
  margin: 5px;
}

.Task-List {
  height: 120px;
}

.Task-Card button {
  width: 10%;
  font-size: 12px;
  font-weight: bold;
}

.Left-Arrow {
  float: left;
  margin-right: 10px;
}

.Right-Arrow {
  float: right;
  margin-right: 10px;
}
