/* All of the lanes */
.Lane-List {
  display: flex;
  margin-top: 15px;
  margin-right: 10px;
  /*  */
  font-size: 18px;
}

/* Each lane: for a person */
.Lane {
  margin-left: 25px;
  width: 25%;
  padding: 5px;
  /*  */
  border-style: solid;
  border-radius: 5px;
  border-color: darkgray;
}

/* Person's name */
.Lane-Name {
  text-align: center;
  background-color: darkslategrey;
  color: white;
}

.New-Task-Input {
  height: 25px;
  margin-top: 10px;
  width: 50%;
}

.New-Task-Button {
  margin: 5px;
}

.Task-Card button {
  width: 10%;
  font-size: 12px;
  font-weight: bold;
}

.Left-Arrow {
  float: left;
  margin-right: 10px;
}

.Right-Arrow {
  float: right;
  margin-right: 10px;
}
