/* All of the lanes */
.Lane-List {
  display: flex;
  margin-top: 15px;
  margin-right: 10px;
  /*  */
  font-size: 18px;
}

/* Each lane: for a person */
.Lane {
  margin-left: 25px;
  width: 25%;
}

/* Person's name */
.Lane-Name {
  text-align: center;
  background-color: darkslategrey;
  color: white;
}

.Task-Input {
  height: 25px;
}

.Task-Button {
  margin: 5px;
}
